@media (max-width: 720px) {

    .card {
        background-color: snow;
        margin: 0 1.5vh;
        padding: 25px 30px;    
    }

    #titulo {
        background-color: rgb(199, 210, 211);
        color: darkslategrey;
        width: 100%;
    }
}

@media (min-width: 720px) {

    .card {
        background-color: snow;
        margin: 0 40px;
        padding: 25px 30px;    
    }

    #titulo {
        background-color: rgb(199, 210, 211);
        color: darkslategrey;
    }
}

.cabecalho {
    color: darkslategrey;
    font-weight: 500;
}

.lista {
    padding: 0.9rem 1.2rem;
    border-radius: 5px;
    width: 100%;
    border-style: none;
    cursor: pointer;
    font-weight: 500;
    margin: 5px;
    text-align: left;
    background-color: darkslategrey;
    color: floralwhite;
    font-size: 2vh;
}

.aparente {
    display: none;
}

#dark {
    cursor: pointer;
}

.botao {
    padding: 0.6rem 1.2rem;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    font-weight: 600;
    margin: 5px;
    align-self: center;   
}   

#salvar, #criar {
    background-color: teal;
    color: seashell;
    box-shadow: 2px 2px 15px darkslategrey;
    width: 10rem;
}

p {
    color: darkslategrey;
    font-family: 'Montserrat', sans-serif;   
}

.card:focus, p:focus, #titulo, #salvar {
    outline: none;
}

.card-head {
    padding: 13px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid silver;
}

.card-foot {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid silver;
    display: flex;
    padding: 20px;
    justify-content: flex-end;
    margin-bottom: 30px;
}

