@media (max-width: 720px) {

    .card {
        background-color: snow;
        margin: 0 1.5vh;
        padding: 25px 30px;    
    }
}

@media (min-width: 720px) {

    .card {
        background-color: snow;
        margin: 0 40px;
        padding: 25px 30px;    
    }
}

p {
    color: darkslategrey;
    font-family: 'Montserrat', sans-serif;   
}

.card:focus, p:focus {
    outline: none;
}

.card-head {
    padding: 13px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid silver;
}

.card-foot {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid silver;
    display: flex;
    padding: 20px;
    justify-content: flex-end;
    margin-bottom: 30px;
}

#salvar {
    background-color: teal;
    padding: 0.6rem 1.2rem;
    border-radius: 5px;
    border-style: none;
    color: seashell;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 2px 2px 15px darkslategrey;
    margin: 5px;
    width: 10rem;
    align-self: center;   
}