{% import 'components/nav.jinja' as Nav %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{{ url_for('static', filename='build/tailwind/tailwind.css') }}">

	<title>Hades</title>
</head>

<body class="bg-zinc-900 text-zinc-300 flex flex-nowrap justify-center">
	<main style="max-width: 1200px" class="flex-1 p-3 relative h-screen">
		<nav class="flex justify-between">
			<a href="/" class="text-5xl font-semibold mb-3 flex items-center"><i data-lucide="book-lock" class="h-10 w-10 mr-2"></i> Hades</a>

			<ul class="flex">
				{{ Nav.button('Files', 'file-stack') }}
				{{ Nav.button('Connect to Drive', 'plug') }}
				{{ Nav.button('Disconnect', 'unplug') }}
				{{ Nav.button('Logout', 'door-open') }}
			</ul>
		</nav>

		<hr class="bg-none border-t-2 border-gray-700">

		<div>
			{% block content %}
			{% endblock %}
		</div>

		{% if get_flashed_messages() %}
		<div class="absolute bottom-12 right-8 py-4 px-8 shadow bg-blue-800 rounded">
			{% for message in get_flashed_messages() %}
			{{ message }}
			{% endfor %}
		</div>
		{% endif %}
	</main>

	<script src="{{ url_for('static', filename='build/assets/app.js') }}"></script>
</body>

</html>