{% import 'components/nav.jinja' as Nav %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" href="{{ url_for('static', filename='images/favicon.svg') }}" type="image/svg+xml">

	<link rel="stylesheet" href="{{ url_for('static', filename='build/tailwind/tailwind.css') }}">

	<title>Hades</title>
</head>

<body class="bg-zinc-900 text-zinc-300 flex flex-nowrap justify-center">
	<main style="max-width: 1200px" class="flex-1 p-3 relative min-h-screen">
		{% include 'nav.jinja' %}

		<hr class="bg-none border-t-2 border-gray-700">

		<div>
			{% block content %}
			{% endblock %}

			{% include 'footer.jinja' %}
		</div>

		<div class="hidden bg-red-800 bg-blue-800"></div>
		{% if get_flashed_messages() %}
			{% for category, message in get_flashed_messages(with_categories=True) %}
				<div class="absolute bottom-12 right-8 py-4 px-8 shadow rounded {{ category|category_color }}">
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}
	</main>

	<script src="{{ url_for('static', filename='build/assets/app.js') }}"></script>
</body>

</html>