{% extends 'template.jinja' %}

{% block content %}
<form action="/files/create" method="POST" class="bg-gray-800 rounded text-zinc-200 shadow-lg p-6 m-6 w-8/12 mx-auto">
	<fieldset class="mb-6 flex flex-col">
		<label class="mb-1 text-sm text-gray-400">File Name</label>
		<input type="text" class="py-1 px-3 shadow border border-gray-900 rounded bg-gray-900 font-bold" name="title">
	</fieldset>

	<fieldset class="mb-6 flex flex-col">
		<textarea class="py-3 px-3 shadow border border-gray-900 rounded bg-gray-900" name="text_file" rows="10"></textarea>
	</fieldset>

	<fieldset>
		<button type="submit" class="border shadow rounded border-blue-950 bg-blue-900 px-4 py-1 ml-auto block">Atualizar</button>
	</fieldset>
</form>
{% endblock %}