{% extends 'base.jinja' %}

{% block content %}
<section class="bg-gray-800 rounded text-zinc-300 shadow-lg p-6 m-6 w-8/12 mx-auto">
	<div class="flex justify-between mb-6">
		<h2 class="text-2xl font-semibold">Connected As</h2>

		{% if key_setted %}
		<div class="flex items-center gap-2">
			<p class="text-gray-400 font-semibold">Already Have a Key Setted</p>

			<a href="/key/clear" class="bg-blue-900 rounded shadow py-1 px-5 border border-blue-950 flex items-center"><i data-lucide="pin-off" class="h-4"></i> Clear</a>
		</div>
		{% endif %}
	</div>

	<form class="flex items-end gap-2" action="/key" method="POST">
		<fieldset class="flex-1 mb-6 flex flex-col">
			<label class="mb-2 text-sm text-gray-300">Using Passphrase</label>
			<input type="password" class="py-1 px-3 shadow border border-gray-900 rounded bg-gray-900 font-bold" name="key" autocomplete="off">
		</fieldset>

		<fieldset class="mb-6 flex justify-end">
			<button type="submit" class="bg-blue-900 rounded shadow py-1 px-5 border border-blue-950 flex items-center"><i data-lucide="pin" class="h-4"></i> {{ 'Update' if key_setted else 'Apply' }}</button>
		</fieldset>
	</form>
</section>

{% if session['state'] %}
<section class=" rounded p-6 m-6 w-8/12 mx-auto hidden">
	<h3 class="font-mono text-xl">Access using your Google Account</h3>
	<p class="text-zinc-500 pt-2">
		All files are stored in your Google Drive, accesible for you.
	</p>

	<h3 class="font-mono text-xl pt-10">All Files in Your Account</h3>
	<p class="text-zinc-500 pt-2">
		Once Hades doesn't have database, you revoke Hades access every logout.
	</p>

	<h3 class="font-mono text-xl pt-10">Set or Change a Encryptation Key</h3>
	<p class="text-zinc-500 pt-2">
		You can use different keys for different files.
	</p>

	<h3 class="font-mono text-xl pt-10">Hades Can Only Access Files Created By It</h3>
	<p class="text-zinc-500 pt-2">
		The Google Drive Scope Does't Allow Access to Other Files or Folders in Your Drive.
	</p>

	<h3 class="font-mono text-xl pt-10">Secure Even with Google Drive Access</h3>
	<p class="text-zinc-500 pt-2">
		Without the key, even with access in your Google Drive, it cannot be read.
	</p>
</section>

	<a class="flex items-center font-semibold text-gray-500 hover:text-blue-700 transition" href="https://github.com/Scemist/Hades.git" >
<footer class="absolute bottom-0 box-border left-0 right-0 flex py-3 bg-gray-800 rounded-t justify-center gap-5">
		<i data-lucide="github" class="h-7 mr-2"></i> Source Code at Github
	</a>
	<a class="flex items-center font-semibold text-gray-500 hover:text-blue-700 transition" href="">

		<i data-lucide="book-key" class="h-7 mr-2"></i> How to Use
	</a>
</footer>
{% endif %}

{% endblock %}