{% extends 'base.jinja' %}

{% block content %}
<section class="bg-gray-800 rounded text-zinc-300 shadow-lg p-6 m-6 w-8/12 mx-auto">
	<div class="flex justify-between mb-6">
		<h2 class="text-2xl font-semibold">Files</h2>

		<a href="/files/create" class="bg-blue-900 rounded shadow py-1 px-4 border border-blue-950 flex items-center"><i data-lucide="plus" class="h-4"></i> New File</a>
	</div>

	<ul>
		{% for file in files %}
		<li class="my-4 shadow">
			<a href="/files/{{ file['id'] }}" {# action="/files/{{ file['id'] }}" #} class="flex border border-gray-900 p-0 font-semibold bg-gray-900 rounded cursor-pointer hover:bg-gray-950 transition" method="POST">
				<button type="submit" class="py-1 px-6 flex-1 flex justify-between items-center align-middle content-center">
					{{ file['name'] }}
					<span class="text-sm text-gray-600">{{ file['createdTime'] }}</span>
				</button>
			</a>
		</li>
		{% endfor %}
	</ul>
</section>
{% endblock %}