{% extends 'template.jinja' %}

{% block content %}
<section class="bg-gray-800 rounded text-zinc-300 shadow-lg p-6 m-6 w-8/12 mx-auto">
	<div class="flex justify-end">
		<a href="/files/create" class="bg-blue-900 rounded shadow py-1 px-4 border border-blue-950">New File</a>
	</div>

	<ul>
		{% for file in files %}
		<li class="my-4">
			<form action="/files/{{ file['id'] }}" class="flex border border-gray-900 p-0 font-semibold bg-gray-900 rounded cursor-pointer hover:bg-gray-950" method="POST">
				{# <input type="hidden" name="key"> #}
				<button type="submit" class="py-1 px-4 flex-1">
					{{ file['name'] }}
				</button>
			</form>
		</li>
		{% endfor %}
	</ul>
</section>
{% endblock %}