{% extends 'base.jinja' %}

{% block content %}
{% if create: %}
<form action="/files/create" method="POST" class="bg-gray-800 rounded text-zinc-200 shadow-lg p-6 m-6 w-8/12 mx-auto">
{% else: %}
<form action="/files/{{ file_id }}/update" method="POST" class="bg-gray-800 rounded text-zinc-200 shadow-lg p-6 m-6 w-8/12 mx-auto">
{% endif %}

	<fieldset class="mb-6 flex flex-col">
		<label class="mb-1 text-sm text-gray-400">File Name</label>
		<input type="text" class="py-1 px-3 shadow border border-gray-900 rounded bg-gray-900 font-bold" name="title" value="{{ filename or '' }}">
	</fieldset>

	<fieldset class="mb-6 flex flex-col">
		<textarea class="py-3 px-3 shadow border border-gray-900 rounded bg-gray-900" name="text_file" rows="10">{{ file or '' }}</textarea>
	</fieldset>

	<fieldset class="flex justify-end gap-4">
		{# <input type="text" class="py-1 px-3 shadow border border-gray-900 rounded bg-gray-900 font-bold" name="key"> #}

		{% if not create %}
			<a href="/files/delete/{{ file_id }}" class="shadow text-red-400 rounded bg-red-950 bg-opacity-50 px-4 py-1 flex items-center">
				<i data-lucide="trash" class="h-4"></i>
			</a>

			<button type="submit" class="border shadow rounded border-blue-950 bg-blue-900 px-4 py-1">Atualizar</button>
		{% else %}
			<button type="submit" class="border shadow rounded border-blue-950 bg-blue-900 px-4 py-1">Criar</button>
		{% endif %}

	</fieldset>
</form>
{% endblock %}