{% macro button(name, icon, url) -%}
<li class="mx-3 my-4">
	<a class="rounded bg-gray-800 text-gray-300 py-2 px-4 flex items-center font-semibold" href="{{ url }}">
		<i data-lucide="{{ icon }}" class="h-4"></i> {{ name }}
	</a>
</li>
{%- endmacro %}