<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}">

	<title>Create New File</title>
</head>

<body class="bg-slate-100">
	<main>
		<form action="">
			<fieldset>
				<label>FileName</label>
				<input type="text">
			</fieldset>
			
			<fieldset>
				<label>File</label>
				<textarea name="" id="" cols="30" rows="10"></textarea>
			</fieldset>
		</form>
	</main>
</body>

</html>