<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{{ url_for('static', filename='build/tailwind.css') }}">

	<title>Files</title>
</head>

<body class="bg-zinc-900 text-zinc-200 flex flex-nowrap justify-center">
	<main style="max-width: 1200px" class="flex-1 p-3">
		<h1 class="text-5xl mb-3">Hades_</h1>

		<section action="/files/create" method="POST" class="bg-gray-800 rounded text-zinc-200 shadow-lg p-6 m-6 w-8/12 mx-auto">
			<ul>
				{% for file in files %}
				<li class="border border-gray-600 font-bold bg-zinc-900 py-1 px-4 rounded m-3">{{ file['name'] }}</li>
				{% endfor %}
			</ul>
		</section>
	</main>
</body>

</html>